Source: ros-kinetic-strands-interaction-behaviours
Section: misc
Priority: extra
Maintainer: Christian Dondrup <cdondrup@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-catkin, ros-kinetic-flir-pantilt-d46, ros-kinetic-geometry-msgs, ros-kinetic-mary-tts, ros-kinetic-message-generation, ros-kinetic-mongodb-store, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-std-srvs, ros-kinetic-strands-gazing
Homepage: https://github.com/strands-project/strands_hri
Standards-Version: 3.9.2

Package: ros-kinetic-strands-interaction-behaviours
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-flir-pantilt-d46, ros-kinetic-geometry-msgs, ros-kinetic-mary-tts, ros-kinetic-message-runtime, ros-kinetic-mongodb-store, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-std-srvs, ros-kinetic-strands-gazing
Description: The strands_interaction_behaviours package
