Source: ros-hydro-strands-hri-launch
Section: misc
Priority: extra
Maintainer: Christian Dondrup <cdondrup@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: https://github.com/strands-project/strands_hri
Standards-Version: 3.9.2

Package: ros-hydro-strands-hri-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-pose-extractor, ros-hydro-strands-gazing, ros-hydro-strands-human-aware-navigation
Description: The strands_hri_launch package
